[submodule "listener/core/ytpy"]
	path = Nano/listener/core/ytpy
	url = https://github.com/madeyoga/ytpy
[submodule "listener/core/nineapi"]
	path = Nano/listener/core/nineapi
	url = https://github.com/and3rson/nineapi
