[submodule "nineapi"]
	path = nineapi
	url = https://github.com/and3rson/nineapi.git
[submodule "osuapi"]
	path = osuapi
	url = https://github.com/khazhyk/osuapi.git
[submodule "pixiv"]
	path = pixiv
	url = https://github.com/tsubasa/pixiv.py
