pip
requests
lxml
urllib3
simplejson
aiohttp
websockets
chardet
PyNaCl
discord==0.16.12
discord.py[voice]
asyncio
youtube-dl
colorlog
safygiphy
PixivPy
oauth2client
google-api-python-client
google-auth
google-auth-httplib2
opuslib
