pip
requests
lxml
urllib3
simplejson
aiohttp
websockets
chardet
PyNaCl
libffi-dev
discord
discord.py[voice]
asyncio
youtube-dl
colorlog
safygiphy
PixivPy
oauth2client
google-api-python-client
google-auth
google-auth-httplib2
libopus
