pip
requests
lxml
urllib3
simplejson
aiohttp
websockets==3.4
chardet
PyNaCl
discord.py==0.16.12
discord.py[voice]
asyncio
youtube-dl
colorlog
safygiphy
PixivPy
oauth2client
google-api-python-client
google-auth
google-auth-httplib2
opuslib
googletrans
praw
